<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="topnav">
    {{#if loggedIn}}
    <a class="active" href="/posts/createPosts">Create Post</a>
    <a class="active" href="/users/profile">Profile</a>
    <a class="active" href="/users/admin">Admin</a>
    <a class="active" href="/users/logout">Logout</a>
    {{else}}
    <a class="active" href="/users/login">Login</a>
    <a class="active" href="/users/signup">SignUp</a>
    {{/if}}
  </div>
  <hr />

  {{{body}}}
</body>

</html>