<body>
    <div id='loginPage'>
        <h1>Welcome! Please Log in! </h1>

        <form method='POST' action='/users/login' name='login' id='login'>
            <div>
                <label for='name'>Username: </label>
                <input type='text' name='username' />
            </div>
            <br />
            <div>
                <label for='name'>Password: </label>
                <input type='password' name='password' />
            </div>
            <br />
            <button type='submit'>Log In</button>
        </form>
    </div>
</body>