<body>
  <div id='profileBody'>
    <div id='profilepage'>
      <h1>Welcome!</h1>
      <br />
      <h3>Name: {{postData.FirstName}} {{postData.LastName}}</h3>
      <br />
      <h5>UserName: {{postData.Username}}</h5>
      <a href='/posts/createposts'><button type="submit">Click here to view all of your posts!</button></a>
    </div>
  </div>
</body>